@import "tailwindcss";

/* Ini agar smooth scrolling */
html {
  scroll-behavior:smooth;
}

/*Ini adalah scrolbar tema dark*/
::-webkit-scrolbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background:#0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
}
